* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

main {
  background: linear-gradient(
    336deg,
    rgba(9, 242, 227, 1) 0%,
    rgba(0, 35, 106, 1) 100%
  );
  max-height: 100vh;
  overflow-y: hidden;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100vh;
}

#form-header {
  color: #042d4b;
  text-align: center;
}

form {
  margin-top: 13px;
  max-width: 100%;
}

.form-wraper {
  background-color: #f0f8ff;
  box-shadow: 1px 1px 9px 1px #000000;
  width: 50%;
  border-radius: 10px;
  padding: 20px;
  margin: 10px 0;
  max-height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: auto;
  scrollbar-color: #042d4b #f0f8ff;
}

*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #0000;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #042d4b;
  border-radius: 30px;
  border: 3px solid #f0f8ff;
}

#company-data {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}

.field-container {
  width: 100%;
  text-align: left;
  margin-left: 10%;
}

.input-label {
  color: #04266a;
  align-self: baseline;
}

.input-text {
  border-radius: 5px;
  border-style: none;
  width: 80%;
  height: 40px;
  padding-left: 5px;
}

.input-text:focus {
  background-color: rgba(92, 39, 254, 0.1);
}

.field-container > small.hidden {
  visibility: hidden;
}

.field-container > small.error {
  visibility: visible;
  font-size: 10px;
  color: red;
  margin-top: -5px;
  align-self: baseline;
}

.submit-button {
  font-size: 15px;
  font-family: Arial;
  width: 140px;
  height: 50px;
  border-width: 1px;
  color: rgba(0, 0, 0, 1);
  border-color: #0b0e07;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: inset 0px -3px 7px 0px rgba(255, 206, 48, 1);
  text-shadow: inset 0px 1px 0px rgba(245, 166, 35, 1);
  background: linear-gradient(rgba(248, 231, 28, 1), rgba(245, 166, 35, 1));
}
#button {
  margin-left: 33%;
}
.submit-button:hover {
  background: linear-gradient(rgba(245, 166, 35, 1), rgba(248, 231, 28, 1));
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

footer {
  background-color: #000a31;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  padding: 30px;
  width: 80%;
}
.logo-wraper {
  width: 40%;
}

#logo-netpark {
  width: 30%;
}
.slogan {
  color: aliceblue;
}

.social-network {
  width: 40%;
  align-self: center;
}

.social-network-logos {
  padding-left: 20px;
}

@media (max-width: 500px) {
  .form-wraper {
    width: 80%;
  }
}

#logo-netpark {
  width: 70%;
}
.slogan {
  display: none;
}
.social-network {
margin-left: 30px;
}
.social-network-logos {
  width: 20px;
  padding-left: 10px;
}
