* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(
    336deg,
    rgba(193, 101, 221, 1) 0%,
    rgba(92, 39, 254, 1) 100%
  );
  max-height: 100vh;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  max-width: 100%;
}

.form-wraper {
  background-color: aliceblue;
  box-shadow: 1px 1px 9px 1px #000000;
  width: 50%;
  border-radius: 30px;
  padding: 20px;
  margin: 10px 0;
  max-height: 100vh;
}

#company-data {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: 1fr 1fr;
}

#responsable-data,
#garage-data {
  height: 89vh;
  justify-content: center;
}
.resp-data {
  overflow-y: hidden;
}

.full-w-input:hover {
  background: linear-gradient(rgba(245, 166, 35, 1), rgba(248, 231, 28, 1));
  width: 40%;
  transition: all 0.7s 0s ease;
}

.field-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-label {
  color: #ff7f83;
  align-self: baseline;
  margin-left: 10%;
}

.input-text {
  border-radius: 5px;
  width: 80%;
  height: 40px;
  padding-left: 5px;
}

.submit-button, .full-w-input {
  font-size: 15px;
  font-family: Arial;
  width: 140px;
  height: 50px;
  border-width: 1px;
  color: rgba(0, 0, 0, 1);
  border-color: #0b0e07;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: inset 0px -3px 7px 0px rgba(255, 206, 48, 1);
  text-shadow: inset 0px 1px 0px rgba(245, 166, 35, 1);
  background: linear-gradient(rgba(248, 231, 28, 1), rgba(245, 166, 35, 1));
}

.submit-button:hover {
  background: linear-gradient(rgba(245, 166, 35, 1), rgba(248, 231, 28, 1));
  width: 80%;
  transition: all 0.7s 0s ease;
}
